body {
   margin: 0px;
   background-color: #355070;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 200px;
  height: 200px;
}

.container {
  padding: 2px 16px;
}

a {
   background-color: black;
   width: 500px;
   height: 500px;
   text-decoration: none;
   font-family: helvetica;
   color: #91f9e5;
}

p {
   font-size: 20px;
}
